#feed {
  border-radius: 10px;
  border: 5px solid #ffce00;
  background-color: white;
  width: 40%;  
  height: 40%;
}
body{
  background-color: #000000;
  margin: 0px;
  padding-top: 0%;
  padding-bottom: 0%;
}
#title {
  color: #ffce00;
}
.Navigation-Bar { /*NavBar properties and color*/
  background-color: #595959;
  width: 100%;
  text-align: left;
  padding: 0px;
}
.content { /*Bringing all the page content down so that it is under the nav-bar*/
  padding-top: 10%;
}
#logo {
  display: inline-flex;
  float: left;
  padding-left: 0%;
}